/* Header bar style*/
#logo {
    width: 220px;
    background-color: white;
    padding-top: 15px;
}

#logo > img {
    width: 200px;
}

#headerbar {
    background-color: white;
    padding: 8px;
}

.avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

.toolbar-separator {
    height: 64px;
    width: 1px;
    background: rgba(0, 0, 0, 0.12);
}

/* Sidebar bar style*/
#sidebar {
    width: 220px;
}

#sidebar-header {
    height: 50px;
    background-color: white;
}

#sidebar-content {
    background-color: white;
}

#sidebar-footer {
    height: 50px;
    background-color: white;
}

.md-grid-item-content md-icon {
    height: 45px;
    width: 45px;
    font-size: 45px;
}

/* Workbench bar style*/
#workbench {
    /*background-color: rgb(200, 200, 200);*/
    background-color: white;
}

/* Footer bar style*/
#footerbar {
    background-color: white;
    /*padding: 8px;*/
}

/* Quick bar style*/
.quick-panel {
    height: 176px;
}

/* Grid style*/
md-toolbar.md-table-toolbar form > input {
    width: 100%;
    margin: 20px;
    border: none;
    color: rgba(0, 0, 0, 0.87);
}

md-toolbar.md-table-toolbar form > input:focus{
    outline: none;
}
