<md-dialog class="compose-dialog" aria-label="Product form">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Product Form</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label>Name</label>
                <input ng-model="vm.product.name" type="text">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Type</label>
                <input ng-model="vm.product.type" type="text">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Calories</label>
                <input ng-model="vm.product.calories.value" type="number">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Sodium</label>
                <input ng-model="vm.product.sodium.value" type="number">
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="vm.saveDialog()" class="send-button md-accent md-raised" aria-label="Save">
                    SAVE
                </md-button>

                <md-button ng-click="vm.cancelDialog()" class="send-button md-accent md-raised" aria-label="Cancel">
                    CANCEL
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
